<!-- SOBRE MI--> 
<section id="sobremi" class="fondo-color ">
    <div class="contenidos espacios">
      <h3>Sobre mi </h3>
      <p class="espacios">
        Mi nombre es Karen Yesica Robles actualmente vivo en Córdoba Capital-Córdoba,Argentina.<br><br>
        Soy estudiante de la carrera Ingenieria en Computacion de la Universidad Nacional de Córdoba-
        Facultad de Ciencias Exactas,Fisicas y Naturales. <br><br>
        Me considero una persona proactiva, con habilidades, conocimientos y una actitud positiva
        y decisiva frente a cualquier tipo de problema.<br><br>
        Mi objetivo es crecer profesionalmente día a día logrando adquirir cada vez más conocimientos
        y aptitudes que me formen como profesional, buscando alcanzar los objetivos que tengo propuestos
        para mi futuro.
      </p>
    <div class="container fondo-color ">
      <div class="row ">
        <div class="col ">
          <h4>Datos Personales</h4>
            <ul >
              <li>
               <strong>Cumpleaños</strong>
               11-03-1989
              </li>
              <li>
               <strong>Teléfono</strong>
               351-2524366
              </li>
              <li>
               <strong>Email</strong>
               yesicakrobles@gmail.com
              </li>
              <li>
               <strong>Dirección</strong>
               Paseo de la reforma Cordoba,Argentina
              </li>
             </ul>
         </div>
         <div class="col">
           <h4>Habilidades</h4>
           <ul>
             <li>
               Capacidad para trabajo en equipo
             </li>
             <li>
                Capacidad para integración y comunicación
             </li>
             <li>
                Resolución de problemas
             </li>
             <li>
                 Aprendizaje constante
             </li>
             <li>
                Autodisciplina
             </li>
             <li>
                 Compromiso
             </li>
            </ul>
          </div>
        </div>    
     </div>
    </div>
    <hr>  
    </section>
    
