<section id="educacion" class=" fondo-color ">
    <div class="contenidos">
      <h3>Educación </h3> <br><br>
              <div class="row no-gutters">
                <div class="col-md-4" style="width: 8rem;">
                    <img src="/assets/img/logo-gianelli.jpg" alt="Logo" class="card-img-top" id="photo" data-aos="fade-right">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-justify"> 
                      <p> <strong >CERTIFICADO DE POLIMODAL EN LA MODALIDAD CIENCIAS NATURALES </strong> <br>
                      Escuela Antonio Maria Gianelli<br>2002 - 2006 <br> Jujuy,Argentina</p>
                    </div>
                  </div>
                </div>
     
                <div class="row no-gutters espacios">
                  <div class="col-md-4" style="width: 8rem;">
                      <img src="/assets/img/logo-unc.png" alt="Logo" class="card-img-top" id="photo" data-aos="fade-right" height="90">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body text-justify"> 
                        <p> <strong >BACHILLER UNIVERSITARIO EN CIENCIAS APLICADAS </strong> <br>
                          Universidad Nacional de Cordoba- Facultad de Ciencias Exactas Fisicas y Naturales<br> 2017 - 2022 <br>
                          Cordoba,Argentina
                        </p>
                      </div>
                    </div>
                  </div>
  
                  <div class="row no-gutters espacios">
                    <div class="col-md-4" style="width: 8rem;">
                        <img src="/assets/img/logo-unc.png" alt="Logo" class="card-img-top" id="photo" data-aos="fade-right" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-justify"> 
                          <p> <strong >INGENIERO EN COMPUTACION </strong> <br>
                            Universidad Nacional de Cordoba- Facultad de Ciencias Exactas Fisicas y Naturales<br> 2017 - En Curso <br>
                            Cordoba,Argentina
                          </p>
                        </div>
                      </div>
                    </div>
    </div>
      
    <hr>  
  
  </section>
