<section id="Experiencia" class="fondo-color ">
    <div class="contenidos ">
      <h3>Experiencias </h3>
      <div class="espacios">
        <strong>HOSPITAL PABLO SORIA </strong> | Asesoramiento a la Jefa de Sala <br> Marzo 2005-Marzo 2008 <br>
        Jujuy,Argentina<br>
        <li>
          Realizar planilla en Excel del personal
       </li>
       <li>
         Notas de pedidos
     </li>
     <li>
      Enseñar las herramientas básicas de Excel a los aspirantes a la jefatura
    </li>
  </div>
      <div class="espacios">
        <strong>HEALTH-OBRA SOCIAL DE SALUD  </strong> | Venta <br> Marzo 2012-Diciembre 2012 <br>
        Cordoba,Argentina
        <li>
          Venta telefónica de la obra social
       </li>
       <li>
        Venta por redes sociales
     </li>
     <li>
       Recibir capacitaciones en ventas
    </li>
  </div>
  <div class="espacios">
    <strong>VENTA DE CELULARES  </strong> | Venta <br> Junio 2014-Diciembre 2016 <br>
    Cordoba,Argentina
    <li>
      Venta de celulares y accesorios
   </li>
   
  </div>
    </div>
    <hr>
  </section>
