<section id="Habilidades" class="fondo-color ">
    <div class="contenidos  ">
      <h3>Habilidades </h3>
      <div class="espacios">
      <h2><strong> Lenguajes de programacion: </strong></h2>
      <h2>C/C++</h2>
      <div class="progress">  
        <div class="progress-bar progress-bar-striped" style="width:80%"></div>
        </div>
    
       <h2>Java </h2>
      <div class="progress">  
        <div class="progress-bar progress-bar-striped" style="width:80%"></div>
        
      </div>
      <h2>Python </h2>
      <div class="progress">  
        <div class="progress-bar progress-bar-striped" style="width:50%"></div>
        
      </div>

      <h2>HTML</h2>
      <div class="progress">  
        <div class="progress-bar progress-bar-striped" style="width:40%"></div>
        
      </div>
    
      <h2>JavaScript </h2>
      <div class="progress">  
        <div class="progress-bar progress-bar-striped" style="width:40%"></div>
        
      </div>

      </div>
    <hr>
</div>
  </section> 
